<%= simple_form_for(@volunteer) do |f| %>

<% if @volunteer.errors.any? %>
	<h2>
		<%= pluralize(@volunteer.errors.count, "error") %> prohibted you from continuing. Please try again.
	</h2>
	<ul>
		<% @volunteers.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
	</ul>
<% end %>

<h2>Name and Email</h2>
	<%= f.input :first_name %><br>

	<%= f.input :last_name %><br>

	<%= f.input :email %><br>

<h2>Distance Travelled</h2>
	<%= f.input :distance, collection: 0..2000, prompt: "How far did you travel (km)?" %>

<h2>Method of Transport</h2>
	<%= f.association :transportation, collection: Transportation.all.map { |t| [t.mode, t.id] }, include_blank: true %>

	<%= f.button :submit %>

<% end %>
