<h1>Volunteers</h1>

<table style = "width:100%">

<% @volunteers.each do |volunteer| %>
	<tr>
	<td>
		<strong><%= link_to volunteer.first_name, volunteer_path(volunteer.id) %></strong>
	</td>
	<td>
		<strong><%= link_to volunteer.last_name, volunteer_path(volunteer.id) %></strong>
	</td>
	<td>
		<%= volunteer.email %>
	</td>

	<td>
		<%= volunteer.co_weight.to_s %>
	</td>

	<td>
		<%= volunteer.tree_offset.to_s %>
	</td>

	<tr>
<% end %>
