<h1>Volunteers</h1>

<%= link_to "Download CSV", volunteers_path(format: :csv) %>

<table border = "1" style = "width:100%">

<th>Name:</th>
<th>Surname:</th>
<th>Email:</th>
<th>Mode of Transportation:</th>
<th>Kg of Carbon Produced:</th>
<th>Trees needed to offset (over the next year):</th>

<% @volunteers.each do |volunteer| %>
	<tr>
	<td>
		<strong><%= link_to volunteer.first_name, volunteer_path(volunteer.id) %></strong>
	</td>

	<td>
		<strong><%= link_to volunteer.last_name, volunteer_path(volunteer.id) %></strong>
	</td>

	<td>
		<%= volunteer.email %>
	</td>

	<td>
		<%= volunteer.transportation.mode %>
	</td>

	<td>
		<%= volunteer.co_weight.to_s %>
	</td>

	<td>
		<%= volunteer.tree_offset.to_s %>
	</td>

	</tr>

<% end %>

<% total_weight = [] %>

	<% @volunteers.each do |volunteer| %>
		<% total_weight << volunteer.co_weight %>
	<% end %>

<%= total_weight.sum.to_s %>

</table>

<%= link_to "Home", root_path %>
