<p>
	<strong>Name:</strong>
	<%= @volunteer.first_name %>
	<%= @volunteer.last_name %><br>

	<strong>Email:</strong>
	<%= @volunteer.email %><br>

	<strong>Distance Travelled:</strong>
	<%= @volunteer.distance.to_s + " km" %><br>

	<strong>Mode of Transport:</strong>
	<%= @volunteer.transportation.mode %><br>

	<strong>Carbon Output:</strong>
	<% @volunteer.co_weight = @volunteer.transportation.copkm %>
	<%= @volunteer.co_weight.to_s + " kg" %><br>

	<strong>Trees to Offset Carbon:</strong>
	<% @volunteer.tree_offset = @volunteer.co_weight / 11818 %>
	<% if @volunteer.tree_offset <= 1 %>
		<% @volunteer.tree_offset = 1 %>
	<% end %>

	You need to plant
	<%= @volunteer.tree_offset.to_s %>
	<% if @volunteer.tree_offset == 1 %>
		<%= "tree" %>
	<% else %>
		<%= "trees" %>
	<% end %>
	in order to offset your carbon output! Get planting!

</p>